<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AlternativeOT.Properties.Settings.ontime_esConnectionString"
            connectionString="your_connecting_string"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>