<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AlternativeOT.Properties.Settings.ontime_esConnectionString"
            connectionString="Data Source=www3.syncfusion.com,8754;Initial Catalog=ontime_es;Persist Security Info=True;User ID=ontime_es_user"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>